.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.prmsu__vision{
    border: 1px solid black;
}
.prmsu__vision-container img {
    width: 10px;
    height: 10px;
}